*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar
{
    width: 5px;
    background: #333;
}

.container
{
    width: 100%;
    height: 100%;

    columns: 4;
    column-gap: 12px;
    padding: 24px;
    background: #333;
}

.bldd
{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.bldd img
{
    width: 100%;
}

.layer_foto
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed ;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.712);
    display: none;
}

.layer_foto.ative
{
    display: flex;
}

.layer_foto img
{
    max-height: 99%;
}
